<div class="flex h-screen ">
  <!-- Sidebar -->
   <ng-container *ngIf="isAuthenticated()">
    <app-sidebar [routes]="routes" [collapsed]="isSidebarCollapsed" (toggleSidebar)="toggleSidebar()"></app-sidebar>
  </ng-container>

  <!-- Main Content Area -->
  <div class="flex-1 flex flex-col ">
    <!-- Header -->
    <app-header [headerTitle]="headerTitle"></app-header>

    <!-- Main Content (Dynamically routed content will appear here) -->
    <div class="flex-1 p-4 bg-gray-100 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
